<body>
<div class="login-container">
    <h1>تسجيل الدخول</h1>
    <form class="login-form">
      <div class="form-group">
        <label for="username">اسم المستخدم</label>
        <input type="text" id="username" placeholder="أدخل اسم المستخدم" required>
      </div>
      <div class="form-group">
        <label for="password">كلمة المرور</label>
        <input type="password" id="password" placeholder="أدخل كلمة المرور" required>
      </div>
      <button type="button" (click)="login()">تسجيل الدخول</button>

      <p class="signup-text">ليس لديك حساب؟ <a routerLink="signup">سجل الآن</a></p>
    </form>
  </div>
</body>

