<body>
  <app-navbar></app-navbar>
  <div class="container">
    <header class="header">
      <h1>كيفية فتح حساب</h1>
      <p>اتبع الدليل خطوة بخطوة أدناه لفتح حسابك التجاري بسهولة.</p>
    </header>

    <div class="d-flex justify-content-center">
      <img src="assets/imgs/XM-logo.jpg" alt="شعار" class="logo me-2" width="800px" height="400px">
    </div>
    <div class="d-flex justify-content-center mt-1 mb-5">
      <a class="btn btn-primary p-3" href="https://clicks.pipaffiliates.com/c?c=806685&l=ar&p=1">افتح حساب</a>
    </div>

    <section class="content">
      <h2>الدليل خطوة بخطوة</h2>
      <p>فتح الحساب بسيط! اضغط على الرابط أعلاه واتبع الخطوات أدناه</p>

      <div class="features">
        <div class="feature-card">
          <div class="step-icon">1</div>
          <h3>الخطوة الأولى</h3>
          <p>ضع الايميل واختر كلمة مرور</p>
        </div>
        <div class="feature-card">
          <div class="step-icon">2</div>
          <h3>الخطوة الثانية</h3>
          <p>سوف يصلك ايميل تأكيد قم بتأكيد الايميل</p>
        </div>
        <div class="feature-card">
          <div class="step-icon">3</div>
          <h3>الخطوة الثالثة</h3>
          <p>ادخل على حسابك وارفع الوثائق المطلوبة</p>
        </div>
        <div class="feature-card">
          <div class="step-icon">4</div>
          <h3>الخطوة الرابعة</h3>
          <p>انتظر خلال 24 ساعة حتى يصلك ايميل تأكيد الحساب، وبإمكانك الآن الإيداع والتداول بسهولة</p>
        </div>
      </div>
    </section>

    <section class="content">
      <h2>إذا كان لديك حساب بالفعل</h2>
      <p>إذا كنت تملك حسابًا بالفعل وترغب في نقله تحت وكالتنا، يمكنك مشاهدة الفيديو التوضيحي التالي الذي يشرح الخطوات بالتفصيل:</p>

      <div class="d-flex justify-content-center mt-4">
        <video controls width="800">
          <source src="assets/video/openacount.mp4" type="video/mp4">
          فيديو نقل الحساب غير مدعوم على متصفحك. يُرجى التحقق من دعم المتصفح للفيديو.
        </video>
      </div>
    </section>
  </div>
  <app-footer></app-footer>
</body>
