<body>
  <app-navbar style="background-color: #1a1a1a; border-bottom: 1px solid #444; color: #f4f4f4;"></app-navbar>
  <div class="container">
    <header class="header text-center my-5">
      <h1 class="text-warning mt-5" >مؤشر ابو شهم</h1>
      <p class="text-light">اكتشف كيفية استخدام هذا المؤشر لتحليل الأسواق المالية بفعالية وتحقيق أهدافك الاستثمارية.</p>
    </header>

  

    <section class="content my-5">
      <h2 class="text-info text-center mb-4">فيديو توضيحي</h2>
      <div class="d-flex justify-content-center">
        <video controls width="800">
          <source src="assets/video/aboshamendic.mp4" type="video/mp4">
          الفيديو غير مدعوم على متصفحك. يُرجى التحقق من دعم المتصفح للفيديو.
        </video>
      </div>
    </section>

    <section class="content my-5">
      <h2 class="text-success text-center mb-4">مراجعة المؤشر</h2>
      <p class="text-light text-center">تم مراجعة هذا المؤشر بدقة من قبل فريق من المحللين الماليين المتمرسين، حيث أثبت فعاليته في تقديم رؤى موثوقة للمستثمرين. نوصي بشدة باستخدامه كجزء من استراتيجيتك الاستثمارية لتحقيق أداء متميز.</p>
    </section>

    <section class="features my-5">
      <h2 class="text-warning text-center mb-4">مزايا استخدام المؤشر</h2>
      <div class="features-grid d-flex flex-wrap justify-content-center">
        <div class="feature-card bg-dark text-center p-4 m-2 rounded shadow">
          <div class="step-icon bg-primary text-white mb-3">1</div>
          <h3 class="text-light">دقة عالية</h3>
          <p class="text-muted">يتميز المؤشر بقدرته على تقديم بيانات دقيقة تدعم اتخاذ القرارات الاستثمارية.</p>
        </div>
        <div class="feature-card bg-dark text-center p-4 m-2 rounded shadow">
          <div class="step-icon bg-primary text-white mb-3">2</div>
          <h3 class="text-light">سهولة الاستخدام</h3>
          <p class="text-muted">واجهة سهلة وبسيطة تساعدك على فهم السوق بسهولة.</p>
        </div>
        <div class="feature-card bg-dark text-center p-4 m-2 rounded shadow">
          <div class="step-icon bg-primary text-white mb-3">3</div>
          <h3 class="text-light">توقعات موثوقة</h3>
          <p class="text-muted">يساعدك المؤشر في التنبؤ بحركات السوق بثقة عالية.</p>
        </div>
      </div>
    </section>
  </div>
  <app-footer style="background-color: #1a1a1a; border-top: 1px solid #444; color: #f4f4f4;"></app-footer>
</body>