<body>
    <app-navbar></app-navbar>



    <div class="container ">
        <h1 class="section-title mt-5 mb-5" >كيفية تطبيق توصياتنا ونتائجها</h1>
        <p class="text-center mb-5">نحن نقدم توصيات دقيقة ومحترفة بناءً على تحليلات السوق العميقة. إليك نبذة عن نتائجنا وبعض الفيديوهات التعليمية لمساعدتك في تحقيق أفضل النتائج.</p>
        <div class="video-grid">

            <div class="video-card">
                <video controls src="assets/video/siganalsone.mp4" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></video>
                <div class="description">
                    <h3>كيفية قراءة التوصيات</h3>
                    <p>تعلم كيفية فهم التوصيات وتطبيقها بشكل صحيح للحصول على تداول ناجح.</p>
                </div>
            </div>

            <div class="video-card">
                <video controls src="assets/video/siganlstwo.mp4" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></video>
                <div class="description">
                    <h3>شرح كيفية تطبيق التوصيات</h3>
                    <p>تعرف على كيفية استخدام توصياتنا بطريقة فعالة لتحقيق أفضل النتائج.</p>
                </div>
            </div>
        
      
        
            <div class="video-card">
                <video controls src="assets/video/signalstree.mp4" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></video>
                <div class="description">
                    <h3>نتائج عملائنا</h3>
                    <p>شاهد النتائج التي حققها عملاؤنا من خلال اتباع توصياتنا الاحترافية.</p>
                </div>
            </div>
        </div>
        
    </div>
    
    

    <app-footer></app-footer>
</body>