<body>
    <app-navbar></app-navbar>
    <div class="container">
      <header>
        <h1>خيارات الاشتراك</h1>
        <p>اختر الطريقة الأنسب للاستفادة من خدماتنا المميزة.</p>
      </header>
  
      <div class="row g-4">
        <!-- بطاقة الاشتراك المدفوع -->
        <div class="col-md-6 d-flex">
          <div class="subscription-card text-center w-100">
            <h3 class="text-primary">الاشتراك بالقناة الخاصة</h3>
            <p>انضم إلى قناتنا واستمتع بصفقات حصريةو مميزة.</p>
           
            <h4>مدة الاشتراك : شهر واحد</h4>
            <h4>150$</h4>
            <a href="https://web.telegram.org/a/#6621670709" target="_blank" class="btn btn-primary btn-custom mt-auto">تواصل الآن</a>
          </div>
        </div>
  
        <!-- بطاقة الاشتراك المجاني -->
        <div class="col-md-6 d-flex">
          <div class="subscription-card text-center w-100">
            <h3 class="text-success">اشتراك مجاني</h3>
            <p>احصل على اشتراك مجاني من خلال فتح حساب تحت وكالتنا.</p>
            <h4>مدة الاشتراك : عند التوقف على العمل على الحساب</h4>
            <a href="https://clicks.pipaffiliates.com/c?c=806685&l=ar&p=1" target="_blank" class="btn btn-success btn-custom mt-auto">افتح حساب مجانًا</a>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </body>